#poster {
	background-color: #444;
}

.roads {
	fill: none;
	stroke:#CCC;
	stroke-width: 1;
	opacity: 1;
}

.buildings {
	fill: #222;
	opacity: 1;
	stroke: #222;
}

.landuse {
	fill: transparent;
	opacity: 1;
	stroke: #CCC;
}

.water {
	opacity: 1;
	fill:#888;
	stroke: #222;
}

#textRect {
	opacity: 0.7;
	fill:#000;
	stroke-width:0;
}

#title {
	fill: #FFF;
	font-size: 200%;
}

#subtitle {
	fill: #FFF;
	font-size: 120%;
}

.text {
	fill: #FFF;
}

.day {
	fill: #CCC;
	stroke: #444;
}