#poster {
	background-color: white;
}

.roads {
	fill: none;
	stroke:#222;
	stroke-width: 1;
	opacity: 1;
}

.buildings {
	fill: #444;
	opacity: 1;
	stroke: #444;
}

.landuse {
	fill: transparent;
	opacity: 1;
	stroke: #CCC;
}

.water {
	opacity: 1;
	fill:#EEE;
	stroke: #444;
}

#textRect {
	opacity: 0.95;
	fill:#FFF;
	stroke-width:0;
}

#title {
	fill: #000;
}

#subtitle {
	fill: #000;
}

.text {
	fill: #000;
}

.day {
	fill: #444;
	stroke: #fff;
}